$blue:#53889D;
$baby_blue:#BBD1D9;
$yellow:#F2D05C;
$soft_pink:#F3A492;
$blush:#D96F6E;
$pink_blush:#C4C4C4; //вообще хз нужен ли он
$blue_baby-gradient:(#53889D 100%, #BBD1D9 100%);
$baby_yellow-gradient:(#BBD1D9 100%, #F2D05C 100%);
$yellow_pink-gradient:(#F2D05C 100%, #F3A492 100%);
$pink_blush-gradient:(#F3A492 100%, #D96F6E 100%);
$blush_yellow-gradient:(#D96F6E 100%, #F2D05C 100%);
$white: #ffffff;
$black: #000000;
$grey1: #111111;
$grey2: #4f4f4f;