.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.body_l,
.body_s,
.meta,
.button-text,
.nav-bar {
    font-style: normal;
}

.h1,
.h2,
.h3 {
    color: $black;
    font-family: $play-font;
    font-weight: 700;
}

.h4,
.h5,
.h6,
.body_l,
.body_s,
.meta {
    color: $grey1;
    font-family: $montserrat-font;
}

.h4,
.h5,
.h6 {
    font-weight: 700;
}

.body_l,
.body_s,
.meta,
.nav-bar {
    font-weight: 400;
}

.h1 {
    font-size: 31.25px;
}

.h2,
.h4 {
    font-size: 25px;
}

.h3,
.h5 {
    font-size: 20px;
}

.h6,
.body_l,
.button-text {
    font-size: 16px;
}

.body_s {
    font-size: 12px;
}

.meta {
    font-size: 10px;
}

.button-text {
    font-weight: 600;
    align-items: center;
    color: $white;
    font-family: $montserrat-font;
}

.nav-bar {
    font-family: $montserrat-font;
    font-weight: 400;
    color: $blue;
}

.h6 {
    font-family: Montserrat-bold;

}

.header__logo-link {
    text-decoration: none;
}