@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat-bold;
  src: url(../assets/fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: PlayfairDisplay;
  src: url(../assets/fonts/PlayfairDisplay-Regular.ttf);
}
@font-face {
  font-family: PlayfairDisplay-bold;
  src: url(../assets/fonts/PlayfairDisplay-bold.ttf);
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.body_l,
.body_s,
.meta,
.button-text,
.nav-bar {
  font-style: normal;
}

.h1 {
  font-family: PlayfairDisplay-bold, sans-serif;
}

.h2,
.h3 {
  color: #000000;
  font-family: PlayfairDisplay-bold, sans-serif;
  font-weight: 700;
}

.h4,
.h5,
.h6,
.body_l,
.body_s,
.meta {
  color: #111111;
  font-family: Montserrat, sans-serif;
}

.h4,
.h5,
.h6 {
  font-weight: 700;
}

.body_l,
.body_s,
.meta,
.nav-bar {
  font-weight: 400;
}

.h1 {
  font-size: 31.25px;
}

.h2,
.h4 {
  font-size: 25px;
}

.h3,
.h5 {
  font-size: 20px;
}

.h6,
.body_l,
.button-text {
  font-size: 16px;
}

.body_s {
  font-size: 12px;
}

.meta {
  font-size: 10px;
}

.button-text {
  font-weight: 600;
  align-items: center;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
}

.nav-bar {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #53889D;
}

.h6 {
  font-family: Montserrat-bold;
}

.header__logo-link {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.footer {
  background-color: #ffffff;
  box-shadow: 0px 4px 16px rgba(78, 55, 55, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding-top: 3vh;
}

.footer__content {
  text-align: center;
}

.header {
  background-color: #ffffff;
  box-shadow: 0px 4px 16px rgba(78, 55, 55, 0.15);
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  align-items: center;
  top: 0;
}

.header__logo-link {
  color: #4f4f4f;
}

.header__icons {
  display: flex;
  gap: 25px;
}

.container {
  box-sizing: border-box;
  height: 101vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  overflow: auto;
  padding: 5vh;
}

.main__genres {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.main__genres-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.main__genres-card {
  text-align: center;
}

.main__genres-card-item {
  background-color: #ffffff;
  box-shadow: 1px 1px 10px rgba(78, 55, 55, 0.1);
  border-radius: 8px;
  padding: 22px;
  justify-content: center;
}

.main__authors-card-conteiner {
  display: inline-flex;
}

.main__authors-icon1 {
  width: 5vh;
  height: 5vh;
  background-image: url("/assets/img/main__authors/author1_Victoria-Edwards.png");
  background-size: contain;
}

.main__authors-icon2 {
  width: 5vh;
  height: 5vh;
  background-image: url("/assets/img/main__authors/author2_Connie-Lane.png");
  background-size: contain;
}

.main__authors-icon3 {
  width: 5vh;
  height: 5vh;
  background-image: url("/assets/img/main__authors/author3_Wade-Richards.png");
  background-size: contain;
}

.main__authors-icon4 {
  width: 5vh;
  height: 5vh;
  background-image: url("/assets/img/main__authors/author4_Mitchell-Cooper.png");
  background-size: contain;
}

.main__authors-icon5 {
  width: 5vh;
  height: 5vh;
  background-image: url("/assets/img/main__authors/author5_Irma-Bell.png");
  background-size: contain;
}

.main__authors-icon6 {
  width: 5vh;
  height: 5vh;
  background-image: url("/assets/img/main__authors/author1_Victoria-Edwards.png");
  background-size: contain;
}

.main__authors-icon7 {
  width: 5vh;
  height: 5vh;
  background-image: url("/assets/img/main__authors/author2_Connie-Lane.png");
  background-size: contain;
}

.main__authors-card {
  width: 10vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.scroll {
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #f4faf4;
  width: 90vw;
}/*# sourceMappingURL=style.css.map */