// .overflow {
//     overflow-x: auto;
//     overflow-y: hidden;}

.scroll {
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #f4faf4;
    width: 300px;
}

//     // transform: rotate(-90deg) translateY(-100px);
//     position: absolute;
//     display: block;
//     overflow-y: auto;
//     overflow-x: hidden;
//     transform: rotate(-90deg);
//     transform-origin: right top;
// }

// .overflow>div {
//     display: block;
//     padding: 5px;
//     background: #cab;
//     transform: rotate(90deg);
//     transform-origin: right top;
// }