.main__lists-conteiner {
    display: inline-flex;
}

.main__lists-card {
    width: 216px;
    height: 128px;
    border-radius: 8px;
    box-shadow: 1px 1px 10px rgba(78, 55, 55, 0.2);
    margin: 10px;
}

.main__lists-card-backgroung1 {
    background-color: $blush;
    border-radius: 8px;
}

.main__lists-card-backgroung2 {
    background-color: $baby_blue;
    border-radius: 8px;
}

// .main__lists-card-img1 {
//     display: flex;
//     background-image: url("/assets/img/main__lists/main__list1-background.svg");
//     border-radius: 8px;
//     // background-size: contain;
//     // background-repeat: no-repeat;
// }

// .main__lists-card-img2 {
//     display: flex;
//     text-align: center;
// }

// .main__lists-card-inscription {
//     align-self: flex-end;
//     text-decoration-color: $white;
// }

// .main__lists-card-inscription>p {
//     line-height: 10%;
//     text-decoration-color: $white;
// }