.main__populargenres {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.main__populargenres-card {
    background-color: #fff;
    /* не могу поставить цвет через доллар */
    box-shadow: 1px 1px 10px rgba(78, 55, 55, 0.1);
    border-radius: 8px;
    padding: 22px;
    justify-content: center;
    text-align: center;

}

.main__populargenres-icon {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.main__genges-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}