.main__genres {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.main__genres-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.main__genres-card {
    text-align: center;

}

.main__genres-card-item {
    background-color: $white;
    box-shadow: 1px 1px 10px rgba(78, 55, 55, 0.1);
    border-radius: 8px;
    padding: 22px;
    justify-content: center;

}