.main__latestarrival-container {
    display: inline-flex;
}

.main__arrivals-card {
    width: 160px;
}

.main__arrivals-icon1 {
    width: 142.79px;
    height: 216px;
    background-image: url("/assets/img/main__arrivals/main__arrival1-Conversation-with-friends.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.main__arrivals-icon2 {
    width: 142.79px;
    height: 216px;
    background-image: url("/assets/img/main__arrivals/main__arrival2-The-world-doesn\'n\ require\ you.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.main__latestarrival p {
    line-height: 100%;
}