// говорит браузеру учитывать любые границы и внутренние отступы в значениях
.container {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    overflow: auto;
}